.feed-card {
    background-color: var(--light-color);
    display: flex;
    color: var(--text-color);
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 0 10px 10px -10px grey;
    animation: larger 700ms;
    max-width: 100%;
    overflow-x: hidden;
}

/* load animation for cards to grow in size */
@keyframes larger {
    from {
        transform: scale(.15);
    }

    to {
        transform: scale(1);
    }
}


.feed-card .ups {
    height: 100%;
    width: 5%;
    padding-right: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media screen and (max-width: 700px){
     .ups p{
     font-size: .75em;
     
    }
  }
@media screen and (max-width: 450px){
    .feed-card .ups{
     margin-right: 4px;
     
    }
  }

.feed-card .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}


.feed-card:not(:first-child) {
    margin-top: 1em;
}

.feed-card:last-child {
    margin-bottom: 1em;
}

.feed-card img {
    width: 100%;
    height: auto;
}

.bottom-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: .9em;
    margin-bottom: .9em;
    border-top: solid 1px var(--med-color);
    padding-top: .9em;
    font-size: .75em;
}
@media screen and (max-width: 450px){
    .bottom-card{
     flex-direction: column;
    }
  }

  @media screen and (max-width: 450px){
    .bottom-card li{
     margin-top: 4px;
    }
  }

.info h2 {
    margin-right: auto;
    font-size: 1em;
    padding-top: .9em;
    padding-bottom: .9em;
}


.feed-card li {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    align-self: auto;

}

.info li:first-child {
    font-weight: bold;
    color: var(--reddit-color)
}

/* comments section */


.comments-container {
    width: 95%;
    overflow-x: hidden;
}
.comments {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: .9em;
    font-size: .9em;
    background-color: var(--light-purple);
    color: var(--text-color);
   
}

@media screen and (max-width: 450px){
    .comments{
     font-size: .75em;
     width: 100%;
    }
  }


.comment-list {
   max-width: 100%;
}

.comments:hover {
    box-shadow: 5px 5px 5px 5px grey;
}

@media screen and (max-width: 600px){
    .comments:hover{
     box-shadow: none;
    }
  }

.comments-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: .9em;
    margin-bottom: .9em;
}

@media screen and (max-width: 450px){
    .comments-info{
     flex-direction: column;
    }
  }
.comments p {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}
.comments li:first-child {
    font-weight: bold;
    color: var(--reddit-color)
}


/* react icon stylings  */

.feed-card svg:hover {
    cursor: pointer;
}

.up-arrow,
.down-arrow {
    color: var(--med-color-2)
}

.up-arrow:hover {
    color: mediumseagreen;
}

.down-arrow:hover {
    color: #F47174;
}

.message-icon {
    color: var(--med-color-2);
    font-size: 1.1em
}

.message-icon:hover {
    color: var(--reddit-color);
}