.navbar {
    background-color: var(--light-color);
    padding-top: .75em;
    padding-bottom: .75em;
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "logo search space";
    grid-gap: .5em;
    width: 100%;
    box-shadow: 10px 0 10px grey;
}

@media screen and (max-width: 700px) {
    .navbar {
        display: flex;
    }
}

@media screen and (max-width: 450px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.navbar nav {
    display: flex;
    align-items: center;
    grid-area: logo;
}


.navbar h1 {
    font-size: 1.8em;
    color: var(--reddit-color);
    font-weight: 900;
}

.navbar .mini {
    padding-left: 4px;
    font-weight: 300;
    font-style: italic;
    font-size: .75em;
    color: var(--text-color)
}

.navbar .search {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: search;
    width: 100%;
}

/* reddit icon - the search icon is in the searchbar css */

.navbar svg {
    padding-left: .5em;
    padding-right: .2em;
    filter: invert(10%);
    color: var(--reddit-color);
    font-size: 2em;
}